.App{
    background-image: url(https://littlealchemy.com/img/workspace-background.png);
    height: 100vh;
    display: flex;

    .results {
        width: 1400px;
        height: 100%;
        align-items: center;

        
    }

    .main {
        height: 100vh;
        width: 300px;
        background-color: #f7f1e7;
        display: flex;
        background-image: url(https://littlealchemy.com/img/library-background.png);

        
    }
}